# -------------------------------------------------------------------------------------------------
# File create by Dk4LL (dk4ll@proton.me)
# -------------------------------------------------------------------------------------------------

# Ignore UNIX-Like file system
.DS_Store
